@model PeopleList.Models.FormEdit
@{
    Layout = null;
    PeopleList.Models.People people = new PeopleList.Models.People();
}

@if (ViewData["Img"] == null)
{
    if (ViewData["canEdit"].ToString() == "True")
    {
        using (Ajax.BeginForm("LoadImg", null, new AjaxOptions { UpdateTargetId = "main-block" }, new { enctype = "multipart/form-data" }))
        {
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="img" id="file" multiple accept="image/*" required>
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
            <br>
            <br>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Загрузить изображение" />
        }
    }
}
else
{
    <img src="~/files/imgs/@Html.DisplayText("Img")" width="200" height="200" class="rounded mx-auto d-block" alt="...">
}
@if (ViewData["canEdit"].ToString() == "True")
{
    using (Ajax.BeginForm("Edit", new AjaxOptions { UpdateTargetId = "main-block" }))
    {
        <div class="form-group">
            <span class="control-label col-md-2"> Почта</span>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <span class="control-label col-md-2"> Имя</span>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <span class="control-label col-md-2"> Фамилия</span>
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <span class="control-label col-md-2"> День рождения</span>
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="Edit" type="submit">Изменить</button>
        <br>
    }
}
else
{
    <br>
    <ul class="list-group">
        <li class="list-group-item">@Html.DisplayText("Name")</li>
        <li class="list-group-item">@Html.DisplayText("Surname")</li>
        <li class="list-group-item">@Html.DisplayText("Email")</li>
        <li class="list-group-item">@Html.DisplayText("Birthday")</li>
    </ul>
    <br>
}
@using (Ajax.BeginForm("MainForm", new AjaxOptions { UpdateTargetId = "main-block" }))
{
    <button class="btn btn-lg btn-primary btn-block" id="Back" type="submit">Назад</button>
}
<br>
<span id="result"> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>
@if (ViewData["Message"]!= null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["Message"]
    </div>
}


